body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #030929;
    color: #fff;
}

footer {
    background-color: #030724;
    color: #ccc;
}

a, a:hover, a:visited {
    color: #fff;
}

h1 {
    font-size: 4em;
}

@supports (-webkit-text-stroke: 2px #000) {
    h1 {
      -webkit-text-fill-color: #fff;
      -webkit-text-stroke: 2px #000;
    }
  }

nav {
    background-color: #013366;
    border-bottom: #000 1px solid;
}

nav li.nav-item a,
nav li.nav-item a:hover,
nav li.nav-item a:visited {
    color: #fff;
}


section {
    margin-bottom: 60px;
}

div.hero {
    background-color: #013366;
    background-image: url("/assets/images/fortunas-folly-full-graphic.png");
    background-position: top middle;
    background-repeat: no-repeat;
    background-size: cover;
}

div.hero button {
    background-color: #013366;
}

ul.modList {
    display: flex;
    flex-direction: row;
}

ul.modList li {
    text-align: center;
    padding: 0 20px;
    list-style: none;
    flex: 1;
}

ul.modList li img {
    width: 100px;
}

ul.modList li span {
    display: block;
    font-size: 1.2em;
    font-weight: 700;
}
